{
	"sdkSettings" : {
		"version" : "2.0",
		"host" : "https://onedemo.thunderhead.com",
		"touchpoint" : "assisted://agent-companion",
		"sk" : "ONE-1DQRCBBEHM-5233",
		"oauth1" : {
			"apiKey" : "f70b01ce-d507-4d2d-8fdc-183dca3542be",
			"sharedSecret" : "09ee34f9-66a4-46d8-9334-359ff62edff7",
			"loginId" : "mthomas@services-oeh"
		}
	},
	"aepPanelDef" : {
		"structure" : "history",
		"format" : "json"
	},
	"devicePanelDef" : {
		"structure" : "devices",
		"format" : "json"
	},
	"historyPanelDef" : {
		"structure" : "history",
		"format" : "json"
	},
	"nbcPanelDef" : {
		"interaction" : "/nbc"
	},
	"scjPanelDef" : {
		"dataStructure": "SingleCustomerJourney",
		"configStructure": "Configuration"
	}
}
