<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
        <script src="../../sdk/one-sdk.js"></script>
        <script src="js/one-sdk-bridge.js"></script>
        <!-- NOTE: This harness js file needs to be removed when this panel is not being used in the harness -->
        <script src="../harness/js/one-sdk-harness.js"></script>
      </head>
    <body ng-app="CrmApp" ng-controller="CrmAppCtrl" style="">


        <!-- ASHLEYAC CUSTOM - HTML (START) -->
            <div class="container-fluid">
                <div class="row">
                    <notification-shade/>
                </div>
            </div>
        <!-- ASHLEYAC CUSTOM - HTML (START) -->


        <script>
            
            (function () {
                "use strict";

                var app = angular.module('CrmApp', ['OneSdkBridge', 'CrmService']);

                app.controller('CrmAppCtrl', function ($scope, $window, $q, sdk, crmInitializer) {
                    /**
                     * Sets the 'notification' object used by &lt;notification-shade&gt; to display progress, errors & warnings
                     * @param severity
                     * @param summary
                     * @param detail
                     */
                    function setNotification(severity, summary, detail) {
                        $scope.notification = (!severity) ? null : {
                            severity: severity,
                            summary: summary,
                            detail: detail
                        };
                    }
                    
                    var customerApi;
			        $q.when(crmInitializer()).then(function (crmService) {

				    // get the customer key or tid to initialize the customerApi
				    var customer = crmService.getCustomerInitObj();
				    if (!customer) {
					   setNotification("error", "No customer identifer provided", "Panel requires a customer key (or tid) to operate");
					   return;
				    }

				    var settings = crmService.getSettings();
				    var one = sdk(crmService);

				    $scope.uri = crmService.getPanelSetting('interaction');
				    customerApi = one.customerApi(customer);
                        
                    //Create function to handle button click action.
				    $scope.sendReason = function () {
                        var uri = $scope.uri;
                        //Read value from reason select dropdown.
                        var reasonCode = $('#reasonCodeSelect').children("option:selected").val();
                        var properties = { "reasoncode": reasonCode };
                        //Fire interaction to ONE with reason code as property.
				        customerApi.sendInteraction(uri, properties).then(function (response) {
					       // clear notitication shade
                           $scope.uri = uri;

				        }).catch(function (response) {
					       setNotification("error", "Error occurred for Touchpoint " + uri, response.statusMessage);
				        });
                        alert('Call Reason Submitted')
			        };
                        
                    $scope.sendApplicationStage = function () {
                        
                        var uri = "/startapplication";
                        var prop_code = $("#product").val();
                        //Read value from reason select dropdown.
                        if ($('#completedapplication').prop("checked")) {
                            uri = "/completeapplication"
                        }
                        var properties = { "prop_code": prop_code };
                        //Fire interaction to ONE with reason code as property.
				        customerApi.sendInteraction(uri, properties).then(function (response) {
					       // clear notitication shade
                           $scope.uri = uri;

				        }).catch(function (response) {
					       setNotification("error", "Error occurred for Touchpoint " + uri, response.statusMessage);
				        });
                        
                        $('#startedapplication').attr("disabled", true);
                        $('#completedapplication').attr("disabled", false);
                        $('#completedapplication').attr("checked", true);
                        alert('Application Stage Submitted')
			        };

			     });
            });
		}());
        </script>
<label for="product">Product</label>
    <select class="form-control" id="product">
      <option value="insurance-car">Car Insurance</option>
      <option value="insurance-home">Home Insurance</option>
      <option value="insurance-life">Life Insurance</option>
      <option value="insurance-pet">Pet Insurance</option>
      <option value="finance-car">Car Finance</option>
    </select>
  <br/>
<hr/>        
        
  <label for="reasonCodeSelect">Customer Call Reason</label>
    <select class="form-control" id="reasonCodeSelect">
      <option>New Customer Quote</option>
      <option>Quote Enquiry Follow Up</option>
      <option>Account Query</option>
      <option>Start Claim Process</option>
      <option>Customer Complaint</option>
      <option>Other</option>
    </select>
  <br/>
  <button type="button" class="btn btn-primary" ng-click="sendReason()">Submit Call Reason</button>
<hr/>        
  <div class="form-check">
  <input class="form-check-input" type="radio" name="radios" id="startedapplication" value="option1" checked>
  <label class="form-check-label" for="startedapplication">
    Started Application
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radios" id="completedapplication" value="option2" disabled>
  <label class="form-check-label" for="completedapplication">
    Completed Application
  </label>
</div>
<br/>
  <button type="button" class="btn btn-primary" ng-click="sendApplicationStage()">Submit Application Stage</button>
  
</div>
    </body>
</html>
